
<div class="container">
  
  <hr>
  <!--<form [formGroup]="myform" (ngSubmit)="submitForm(myform.value)" enctype="multipart/form-data" method="POST" novalidate>-->
    <form [formGroup]="myform" (ngSubmit)="submitForm(myform.value)"  method="POST" novalidate>
  <div class="row">
    <div class="col-md-6">
       <image-upload  (uploadFinished)="onUploadFinished($event)"
        formControlName="image"></image-upload>
        <span *ngIf="image.errors && (image.dirty  || myform.submitted) && image.errors.required" class="alert alert-danger">Select Image </span>
       </div>
    <div class="col-md-6">  
    
    <div class="form-group">
        <label for="email">Email</label>
        <input  type="email" id="email" name="email" class="form-control" formControlName="email" />
        <span *ngIf="email.errors && (email.dirty || myform.submitted) && email.errors.required" class="alert alert-danger">Email please</span>
    </div>
    <div class="form-group">
        <label for="Dob">DOB</label>
        <input type="date" id="Dob" name="Dob" class="form-control" formControlName="Dob" />
        <span *ngIf="Dob.errors && (Dob.dirty || myform.submitted) && Dob.errors.required" class="alert alert-danger">DOB please</span>
    </div>
    <!--<button type="submit" class="btn btn-primary" [disabled]="!myform.valid">Save</button>-->
      <button type="submit" class="btn btn-success">Save</button>
</div>
</div>
</form>
</div><br>
<hr>
<div class="container">
      <table class=" table table-striped table-border">
        <thead>
            <tr>
                <td>Email</td>
                <td>DOB</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts;let i = index">
                <td> {{post.Email}}  </td>
                <td>{{post.DOB}}</td>
                <td><img src="{{post.Image}}" style="width:50px;height:50px;"></td>
            </tr>
        </tbody>
    </table>
</div>
